

<h2>Template: <small>Dinámicos</small></h2> 
<hr>



<form   (ngSubmit)="salvar()" 
        autocomplete=off
        #miFormulario="ngForm">


    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Nome</label>
         <div class="col-sm-9">
             <input type="text" 
                    ngModel
                    name="nome"
                    placeholder="Seu nome completo"
                    required
                    class="form-control">

                <span class="form-text text-danger"
                      *ngIf="ValidName()">
                     O campo é obrigatório
                </span>

                    
         </div>
    </div>



<!--Adicionar Favorito-->
    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Nome</label>
         <div class="col-sm-9">
        
            <div class="input-group">
                 <input class="form-control"
                        placeholder="Adicionar Favorito">

                    <button class="btn btn-outline-primary"
                            type="button">
                         Adicionar
                    </button>    
            </div>
            
         </div>
    </div>



    <!--Lista de jogos Favoritos-->

    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Favoritos</label>
         <div class="col-sm-9">

             <input class="form-control mb-1"> 
             

         </div>
    </div>


     <div class="row">
         <div class="col-sm-12">
             <button type="button"
                     [disabled]="miFormulario.invalid"
                     class="btn btn-primary"
                     (click)="salvar()">
                Salvar
             </button>
         </div>
    </div>



</form>