

<h2>Template: <small>Dinámicos</small></h2> 
<hr>



<form   (ngSubmit)="salvar()" 
        autocomplete=off
        #miFormulario="ngForm">


    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Nome</label>
         <div class="col-sm-9">
             <input type="text" 
                    [ngModel]="pessoa.nome"
                    name="nome"
                    placeholder="Seu nome completo"
                    required
                    class="form-control">

                <span class="form-text text-danger"
                      *ngIf="ValidName()">
                     O campo é obrigatório
                </span>

                    
         </div>
    </div>



<!--Adicionar Favorito-->
    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Adicionar</label>
         <div class="col-sm-9">
        
            <div class="input-group">
                 <input class="form-control"
                        placeholder="Adicionar Favorito">

                    <button class="btn btn-outline-primary"
                            type="button">
                         Adicionar
                    </button>    
            </div>
            
         </div>
    </div>



    <!--Lista de jogos Favoritos-->

    <div class="mb-3 row">
         <label class="col-sm-3 col-form-label">Favoritos</label>
         <div class="col-sm-9">

           <div class="input-group mb-1"
                *ngFor="let jogo of pessoa.favoritos; let i = index">

                 <input 
                    [(ngModel)]="jogo.nome"
                    name="favorito{{ i }}"
                    class="form-control"
                    required
                    > 
                    <button class="btn btn-outline-danger" 
                            type="button"
                            (click)="eliminar(i)">
                        Eliminar
                    </button>
           </div>
             

         </div>
    </div>


     <div class="row">
         <div class="col-sm-12">
             <button type="button"
                     [disabled]="miFormulario.invalid"
                     class="btn btn-primary"
                     (click)="salvar()">
                Salvar
             </button>
         </div>
    </div>



</form>



 <span>Pessoa</span>
 <pre>{{ pessoa | json }}</pre>