

<h2>Reactive: Básicos</h2>

<hr>

 
<div class="row">
   <div class="col">

     <form (ngSubmit)="salvar()"
           autocomplete=off 
           [formGroup]="miFormulario">

      <!---Campo de produto-->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Produtos*</label>
          <div class="col-sm-9">

            <input type="text"
                   class="form-control"
                   formControlName="nome"
                   placeholder="Nome do Produto">

              <span class="form-text text-danger"
                    *ngIf="campoValido('nome')">
                 Deve ter pelo menos 3 letras
              </span>     
          </div>

        </div>


        <!---Campo de Preco-->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Preço</label>
          <div class="col-sm-9">
            <input type="number" 
                   class="form-control" 
                   formControlName="preco"
                   min="0"
                   placeholder="Preço do produto">

              <span class="form-text text-danger"
                    *ngIf="campoValido('preco')">
                 O preço deve ser maior que zero
              </span> 

          </div>
        </div>


        <!---Campo de Estoque-->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Estoque</label>
          <div class="col-sm-9">
            <input type="number" 
                   class="form-control"
                   formControlName="estoque"
                   placeholder="Estoque do produto">

              <span class="form-text text-danger"
                    *ngIf="campoValido('estoque')">
                 O preço deve ser maior que zero
              </span> 
        
          </div>
        </div>


        <div class="row">
            <div class="col">
               <button type="submit"
                       class="btn btn-primary float-end">
                 Guardar
               </button>
            </div>
        </div>



     </form>

   </div>
</div>



<div class="row">
   <div class="col">


     <span>Valid</span>
      <pre>{{ miFormulario.valid }}</pre>

     <span>Pristine</span>
      <pre>{{ miFormulario.pristine }}</pre>

     <span>Touched</span>
      <pre>{{ miFormulario.touched }}</pre>
     
     <span>Value</span> 
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Preco</span> 
    <pre>{{ miFormulario.controls.preco.errors | json }}</pre>

   </div>
</div>

